@charset "utf-8";

body {
	background-image:url(../images/unit.gif), url(../images/unit.gif);
	background-repeat: no-repeat;
	background-position-x: 4px;
	background-position-y: 235px, 527px;
}

.box-default,
.box-change {
	width: 500px;
	padding: 50px;
	margin-bottom: 70px;
	background-color: pink;
	border: solid 50px burlywood;
}

.box-default {}

.box-change {
	box-sizing: border-box;
}