@charset "utf-8";

body {
	background-color: #ddd;
	font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
}

.post {
	background-color: #fff;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.post-head {
	background-color: yellowgreen;
	margin-bottom: 20px;
}

.post-body {
	background-color: aquamarine;
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-foot {
	background-color: pink;
	margin-top: 40px;
}