@charset "utf-8";

*,
*::before,
*::after {
	box-sizing: border-box;
}

.box {
	display: flex;
	/* align-items: start; */
	/* align-items: flex-end; */
	/* align-items: center; */
	/* align-items: stretch; 預設 */
	/* align-items: baseline; 以文字基線作對齊 */
}

.box-item {
	padding: 20px;
	font-size: 30px;
	text-align: center;
	border: solid 1px #ccc;
}

.box-item-1 {
	height: 100px;
	font-size: 40px;
}

.box-item-2 {
	height: 200px;
	font-size: 70px;
}

.box-item-3 {
	height: 300px;
}


/* 4 跟 5沒有定義高度，預設是抓最大的高度，當作大家相同高度做使用 */
.box-item-4 {
	font-size: 50px;
}