@charset "utf-8";

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

.col-4 {
	width: 25%;
	padding: 15px;
}

.gutter {
	padding: 15px;
}

.pd {
	display: flex;
}

.pd .gutter {
	height: 100%;
	background-color: #eee;
}

.pd h4 {
	margin-top: 0;
	text-align: center;
}

.pd small {
	margin-left: 10px;
}

.item {
	margin-bottom: 20px;
}
.list li {
	margin-bottom: 20px;
}