@charset "utf-8";

body {
	background-color: #ddd;
	font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
}

.post {
	background-color: #fff;
	width: 700px;
	margin: 10px auto;
	
	overflow: hidden;
}

.post-head {
	background-color: yellowgreen;
	margin-top: 100px;
}

.post-body {
	background-color: aquamarine;
}

.post-foot {
	background-color: pink;
	margin-bottom: 100px;
}