@charset "utf-8";

body,
p {
	margin: 0;
}

.base1,
.base2,
.base3,
.base4,
.base5,
.base6,
.base7,
.base8 {
	padding: 80px;
	height: 55vh;
}

.base__cntr {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.base__desc {
	line-height: 1.7;
}

.base__desc+.base__desc {
	margin-top: 30px;
}

.base1, .base3, .base5, .base7 {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-x:center;
	background-position-y: top;
	background-attachment: fixed;
	color: #fff;
}

.base1 {
	background-image: url(../images/feature01.png);
}

.base3 {
	background-image: url(../images/feature02.png);
}

.base5 {
	background-image: url(../images/feature03.png);
}

.base7 {
	background-image: url(../images/feature04.png);
}