@charset "utf-8";

*,
*::before,
*::after {
	box-sizing: border-box;
}

.box {
	display: flex;
	/* justify-content:flex-start ; */
	/* justify-content:flex-end ; */
	/* justify-content:center ; */
	/* justify-content:space-between ; */
	justify-content:space-around ;
	/* justify-content:space-evenly ; */
}

.box-item {
	padding: 20px;
	font-size: 30px;
	text-align: center;
	border: solid 1px #ccc;
}