@charset "utf-8";

.wrap {
	background-color: pink;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.navi {
	width: 20%;
	background-color: yellowgreen;
}

.main {
	width: 80%;
	background-color: gray;
}