.img-inner {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.img-resp {
	max-width: 100%;
	height: auto;
	animation-name: flip;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes flip {
	from {
		transform: rotateX(0) rotateZ(0);
	}

	to {
		transform: rotateX(360deg) rotateZ(360deg);
	}
	/* 角度可以超過360 */
}