.banner {
  padding: 180px 0 120px;
  background: url(../images/sectionBG.jpg) no-repeat 0 35px;
}

.banner h1 {
  font-weight: 600;
  font-size: 7em;
  color: #FFF;
  text-align: center;
  margin: 0;
  text-shadow: -1px -1px #666;
  margin-bottom: 15px;
}

.banner p {
  margin: 0;
  opacity: .8;
  color: #FFF;
  text-align: center;
  line-height: 1.8;
}