@charset "utf-8";

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
	background-color: #eee;
}

img {
	vertical-align: bottom;
}

.img-resp {
	max-width: 100%;
	/* height: auto; */
	max-height: 100%;
}


.btn {
	display: inline-block;
	padding: .5em 1em;
	text-decoration: none;
	border-radius: 5px;
}

.btn-peace {
	color: #fff;
	background-color: #0288d1;
}

.btn-peace:hover {
	box-shadow: 0 3px #082f44;
}

.btn-peace:hover {
	background-color: #0076b6;
}

.btn-share {
	color: #fff;
	background-color: #faa646;
	margin-left: 15px;
}

.btn-share:hover {
	box-shadow: 0 3px #a56b28;
}


.adv {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.adv-ls {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
}

.adv-item {
	width: 33.33333%;
	padding: 15px;
	background-color: #fff;

	/* 寫法一: */

	border: solid 1px #ccc;
	margin-right: -1px;
	margin-bottom: -1px;

	/* 寫法二:
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc; */
}

/* .adv-item:last-child {
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;} 
	寫法二
*/

.adv-item h3 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 22px;
}

.adv-item p {
	line-height: 1.5;
	margin-top: 17px;
}

.mask {
	overflow: hidden;
}

.adv-item .mask {
	height: 258px ;
}

.adv-item .img-resp {
	margin-bottom: 10px;
}

.adv-move {
	transition-duration: 0.3s;
}

.adv-item:hover .adv-move {
	transform: translateY(-258px);
}

.btn-inner {
	margin-top: 25px;
}