@charset "utf-8";

.box {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
	font-size: 30px;
	line-height: 200px;
	background-color: pink;
	box-shadow: 15px 15px 10px -5px rgba(0, 0, 0, .5);
}

.box-desc {
	text-align: center;
}