@charset "utf-8";

body {
    background-color: #ccc;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y: bottom;
    background-attachment: fixed;
    background-size: 200px;
}