@charset "utf-8";

body {
	font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
	background-image: url(../images/bg.jpg);

}

.navi {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	justify-content: center;
	margin-top: 200px;
}

.navi span {
	display: block;
	font-size: 13px;
	color: #0288d1;
	text-transform: uppercase;
}

.navi li {
	/* background-color: antiquewhite; */
	margin-left: 3px;
	margin-right: 3px;
}

.navi a {
	background-image: url(../images/overlay.png);
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
}

.navi a:hover {
	color: #727679;
}

.navi a:hover span {
	color: #fff;
}